In [2]:
import pandas as pd

In [3]:
import requests
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/07-21-2022.csv'
res = requests.get(url, allow_redirects=True)
with open('COVID_JHU.csv','wb') as file:
    file.write(res.content)
JHU = pd.read_csv('COVID_JHU.csv')

In [4]:
JHU

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-07-22 04:21:15,33.939110,67.709953,184224,7738,NaN,NaN,Afghanistan,473.238765,4.200321
1,NaN,NaN,NaN,Albania,2022-07-21 23:21:03,41.153300,20.168300,293917,3517,NaN,NaN,Albania,10213.253180,1.196596
2,NaN,NaN,NaN,Algeria,2022-07-22 04:21:15,28.033900,1.659600,266654,6875,NaN,NaN,Algeria,608.090439,2.578247
3,NaN,NaN,NaN,Andorra,2022-07-22 04:21:15,42.506300,1.521800,45326,153,NaN,NaN,Andorra,58663.042775,0.337555
4,NaN,NaN,NaN,Angola,2022-07-22 04:21:15,-11.202700,17.873900,102209,1912,NaN,NaN,Angola,310.984502,1.870677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4007,NaN,NaN,NaN,West Bank and Gaza,2022-07-22 04:21:15,31.952200,35.233200,672039,5664,NaN,NaN,West Bank and Gaza,13173.577689,0.842808
4008,NaN,NaN,NaN,Winter Olympics 2022,2022-07-22 04:21:15,39.904200,116.407400,535,0,NaN,NaN,Winter Olympics 2022,NaN,0.000000
4009,NaN,NaN,NaN,Yemen,2022-07-22 04:21:15,15.552727,48.516388,11849,2149,NaN,NaN,Yemen,39.727126,18.136552
4010,NaN,NaN,NaN,Zambia,2022-07-22 04:21:15,-13.133897,27.849332,328550,4013,NaN,NaN,Zambia,1787.156149,1.221427
4011,NaN,NaN,NaN,Zimbabwe,2022-07-22 04:21:15,-19.015438,29.154857,256217,5570,NaN,NaN,Zimbabwe,1723.866369,2.173938

In [5]:
import requests
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
res = requests.get(url, allow_redirects=True)
with open('COVID_JHU2.csv','wb') as file:
    file.write(res.content)
JHU2 = pd.read_csv('COVID_JHU2.csv')

In [6]:
JHU2

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/12/22,7/13/22,7/14/22,7/15/22,7/16/22,7/17/22,7/18/22,7/19/22,7/20/22,7/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,183272,183285,183358,183407,183445,183572,183687,183908,184038,184224
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,289391,290954,290954,293917,293917,293917,293917,293917,293917,293917
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,266303,266328,266356,266392,266424,266445,266487,266542,266591,266654
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,44671,44671,44671,44671,44671,44671,45061,45061,45061,45326
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,101320,101320,101600,101901,101901,101901,102209,102209,102209,102209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,662588,662588,662588,662588,662588,662588,669542,672039,672039,672039
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11832,11832,11832,11832,11848,11848,11848,11849,11849,11849
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,327102,327102,327102,327994,327994,327994,327994,328550,328550,328550
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,255981,255981,256047,256083,256083,256083,256083,256187,256187,256217

In [7]:
import requests
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
res = requests.get(url, allow_redirects=True)
with open('COVID_JHU3.csv','wb') as file:
    file.write(res.content)
JHU3 = pd.read_csv('COVID_JHU3.csv')

In [8]:
JHU3

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/12/22,7/13/22,7/14/22,7/15/22,7/16/22,7/17/22,7/18/22,7/19/22,7/20/22,7/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7728,7728,7728,7729,7730,7731,7733,7736,7737,7738
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3516,3517,3517,3517,3517,3517,3517,3517,3517,3517
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6875,6875,6875,6875,6875,6875,6875,6875,6875,6875
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1909,1909,1909,1912,1912,1912,1912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5662,5662,5662,5662,5662,5662,5663,5664,5664,5664
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2149,2149,2149,2149,2149,2149,2149,2149,2149,2149
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,4008,4008,4008,4009,4009,4009,4009,4013,4013,4013
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5565,5565,5566,5566,5566,5566,5566,5568,5568,5570

In [10]:
import requests
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
res = requests.get(url, allow_redirects=True)
with open('COVID_JHU4.csv','wb') as file:
    file.write(res.content)
JHU4 = pd.read_csv('COVID_JHU4.csv')

In [11]:
JHU4

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/12/22,7/13/22,7/14/22,7/15/22,7/16/22,7/17/22,7/18/22,7/19/22,7/20/22,7/21/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
266,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
267,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
268,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0