In [134]:
import pandas as pd

In [135]:
import numpy as np

In [136]:
import warnings
warnings.filterwarnings('ignore')

In [137]:
players = pd.read_csv('../Datasets/PL/Players.csv')

In [138]:
players.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Playing Time,Playing Time.1,Playing Time.2,...,Expected.1,Expected.2,Expected.3,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 32,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
1,1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7

In [139]:
players.iloc[0].values

array(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt',
       'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG',
       'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA',
       'Matches', '-9999'], dtype=object)

In [140]:
players.columns = players.iloc[0].values

In [141]:
players.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
0,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
1,1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7

In [142]:
players = players.iloc[1:]

In [143]:
players.index = players['Rk']

In [144]:
players.drop('Rk',axis=1,inplace=True)

In [145]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7
5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16,Matches,eaeca114

In [146]:
players.iloc[:,-2:]

     Matches     -9999
Rk
1    Matches  774cf58b
2    Matches  f2bf1b0f
3    Matches  9b398aea
4    Matches  a8c0acb7
5    Matches  eaeca114
..       ...       ...
542  Matches  2d5f03bf
543  Matches  51cf8561
544  Matches  6622454d
545  Matches  ce4246f5
546  Matches  79300479

[546 rows x 2 columns]

In [147]:
players.drop(players.iloc[:,-2:], axis=1, inplace=True)

In [148]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [149]:
players.Nation.unique()

array(['eng ENG', 'sct SCO', 'fr FRA', 'no NOR', 'nl NED', 'es ESP',
       'br BRA', 'py PAR', 'co COL', 'gh GHA', 'dk DEN', 'jm JAM',
       'ga GAB', 'at AUT', 'ci CIV', 'gd GRN', 'pl POL', 'ba BIH',
       'dz ALG', 'uy URU', 'be BEL', 'is ISL', 'ml MLI', 'al ALB',
       'ar ARG', 'ec ECU', 'wls WAL', 'pt POR', 'nir NIR', 'ie IRL',
       'ao ANG', 'cz CZE', 'zm ZAM', 'ng NGA', 'sk SVK', 'se SWE',
       'eg EGY', 'fi FIN', 'ir IRN', 'gr GRE', 'de GER', 'kr KOR',
       'mx MEX', 'it ITA', 'tr TUR', 'cd COD', 'gn GUI', 'sn SEN',
       'hr CRO', 'ma MAR', 'rs SRB', 'cm CMR', 'tn TUN', 'jp JPN',
       'ua UKR', 'zw ZIM', 'us USA', 'xk KVX', 've VEN', 'ch SUI',
       'cl CHI', 'bf BFA', 'nz NZL'], dtype=object)

In [150]:
idxs = players.Nation.str.index(' ')

In [151]:
players.Nation[0][4:]

'ENG'

In [152]:
idxs

Rk
1      3
2      3
3      2
4      2
5      2
      ..
542    2
543    2
544    2
545    2
546    2
Name: Nation, Length: 546, dtype: int64

In [153]:
len(idxs)

546

In [154]:
i=0
r=[]
while i<len(idxs):
    r.append(players.Nation[i][idxs[i]+1:])
    i+=1

In [155]:
r[:10]

['ENG', 'SCO', 'FRA', 'NOR', 'NED', 'ENG', 'ESP', 'ENG', 'BRA', 'BRA']

In [156]:
players.Nation = r

In [157]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [158]:
players.Pos.unique()

array(['DF', 'FW', 'FWDF', 'MF', 'GK', 'MFFW', 'FWMF', 'DFMF', 'MFDF',
       'DFFW'], dtype=object)

In [159]:
players.Pos = players.Pos.replace({'FWDF':'FW/DF',
                                  'MFFW':'MF/FW',
                                  'FWMF':'FW/MF',
                                  'DFMF':'DF/MF',
                                  'MFDF':'MF/DF'})

In [167]:
players.Pos.unique()

array(['DF', 'FW', 'FW/DF', 'MF', 'GK', 'MF/FW', 'FW/MF', 'DF/MF',
       'MF/DF', 'DFFW'], dtype=object)

In [172]:
players.Nation.value_counts()

ENG    199
FRA     31
ESP     30
BRA     27
POR     21
      ...
GUI      1
IRN      1
ALB      1
AUT      1
GAB      1
Name: Nation, Length: 63, dtype: int64

In [173]:
players.Pos.value_counts()

DF       185
MF       116
FW        83
FW/MF     59
GK        42
MF/FW     39
MF/DF     11
DF/MF      5
DFFW       4
FW/DF      2
Name: Pos, dtype: int64