In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
players = pd.read_csv('../Datasets/PL/Players.csv')

In [5]:
players.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Playing Time,Playing Time.1,Playing Time.2,...,Expected.1,Expected.2,Expected.3,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 32,-additional
0,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
1,1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7

In [6]:
players.iloc[0].values

array(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt',
       'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG',
       'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA',
       'Matches', '-9999'], dtype=object)

In [7]:
players.columns = players.iloc[0].values

In [8]:
players.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
0,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
1,1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7

In [9]:
players = players.iloc[1:]

In [10]:
players.index = players['Rk']

In [11]:
players.drop('Rk',axis=1,inplace=True)

In [12]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA,Matches,-9999
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07,Matches,774cf58b
2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43,Matches,f2bf1b0f
3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10,Matches,9b398aea
4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10,Matches,a8c0acb7
5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16,Matches,eaeca114

In [13]:
players.iloc[:,-2:]

     Matches     -9999
Rk
1    Matches  774cf58b
2    Matches  f2bf1b0f
3    Matches  9b398aea
4    Matches  a8c0acb7
5    Matches  eaeca114
..       ...       ...
542  Matches  2d5f03bf
543  Matches  51cf8561
544  Matches  6622454d
545  Matches  ce4246f5
546  Matches  79300479

[546 rows x 2 columns]

In [14]:
players.drop(players.iloc[:,-2:], axis=1, inplace=True)

In [15]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,fr FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [16]:
players.Nation.unique()

array(['eng ENG', 'sct SCO', 'fr FRA', 'no NOR', 'nl NED', 'es ESP',
       'br BRA', 'py PAR', 'co COL', 'gh GHA', 'dk DEN', 'jm JAM',
       'ga GAB', 'at AUT', 'ci CIV', 'gd GRN', 'pl POL', 'ba BIH',
       'dz ALG', 'uy URU', 'be BEL', 'is ISL', 'ml MLI', 'al ALB',
       'ar ARG', 'ec ECU', 'wls WAL', 'pt POR', 'nir NIR', 'ie IRL',
       'ao ANG', 'cz CZE', 'zm ZAM', 'ng NGA', 'sk SVK', 'se SWE',
       'eg EGY', 'fi FIN', 'ir IRN', 'gr GRE', 'de GER', 'kr KOR',
       'mx MEX', 'it ITA', 'tr TUR', 'cd COD', 'gn GUI', 'sn SEN',
       'hr CRO', 'ma MAR', 'rs SRB', 'cm CMR', 'tn TUN', 'jp JPN',
       'ua UKR', 'zw ZIM', 'us USA', 'xk KVX', 've VEN', 'ch SUI',
       'cl CHI', 'bf BFA', 'nz NZL'], dtype=object)

In [17]:
idxs = players.Nation.str.index(' ')

In [18]:
players.Nation[0][4:]

'ENG'

In [19]:
idxs

Rk
1      3
2      3
3      2
4      2
5      2
      ..
542    2
543    2
544    2
545    2
546    2
Name: Nation, Length: 546, dtype: int64

In [20]:
len(idxs)

546

In [21]:
i=0
r=[]
while i<len(idxs):
    r.append(players.Nation[i][idxs[i]+1:])
    i+=1

In [22]:
r[:10]

['ENG', 'SCO', 'FRA', 'NOR', 'NED', 'ENG', 'ESP', 'ENG', 'BRA', 'BRA']

In [23]:
players.Nation = r

In [24]:
players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,FRA,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [25]:
players.Pos.unique()

array(['DF', 'FW', 'FWDF', 'MF', 'GK', 'MFFW', 'FWMF', 'DFMF', 'MFDF',
       'DFFW'], dtype=object)

In [26]:
players.Pos = players.Pos.replace({'FWDF':'FW/DF',
                                  'MFFW':'MF/FW',
                                  'FWMF':'FW/MF',
                                  'DFMF':'DF/MF',
                                  'MFDF':'MF/DF'})

In [27]:
players.Pos.unique()

array(['DF', 'FW', 'FW/DF', 'MF', 'GK', 'MF/FW', 'FW/MF', 'DF/MF',
       'MF/DF', 'DFFW'], dtype=object)

In [28]:
players.Nation.value_counts()[:21]

ENG    199
FRA     31
ESP     30
BRA     27
POR     21
NED     16
SCO     16
IRL     14
DEN     14
WAL     12
GER     10
BEL     10
NGA      9
ARG      8
CIV      7
SWE      7
NOR      7
POL      6
GHA      6
SEN      5
COL      5
Name: Nation, dtype: int64

In [29]:
players.Pos.value_counts()

DF       185
MF       116
FW        83
FW/MF     59
GK        42
MF/FW     39
MF/DF     11
DF/MF      5
DFFW       4
FW/DF      2
Name: Pos, dtype: int64

In [30]:
len(players.Nation.unique())

63

In [31]:
players.Nation = players.Nation.replace({"GBR":"England",
                                        "SCO":"Scotland",
                                        "NED":"Netherlands",
                                        "DEN":"Denmark",
                                        "ALG":"Algeria",
                                        "URU":"Uruguay",
                                        "POR":"Portugal",
                                        "GER":"Germany",
                                        "IRL":"Ireland",
                                        "WAL":"Wales",
                                        "NOR":"Norway",
                                        "POL":"Poland",
                                        "SEN":"Senegal",
                                        "GHA":"Ghana",
                                        "NGA":"Nigeria",
                                        "ARG":"Argentina",
                                        "BEL":"Belgium",
                                        "FRA":"France",
                                        "ESP":"Spain",
                                        "SWE":"Sweden",
                                        "CIV":"Ivory Coast",
                                        "BRA":"Brazil",
                                        "COL":"Colombia"})

In [32]:
players.Nation

Rk
1              ENG
2         Scotland
3           France
4           Norway
5      Netherlands
          ...
542        Germany
543            UKR
544            MAR
545         France
546         Norway
Name: Nation, Length: 546, dtype: object

In [33]:
players

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,Scotland,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,France,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,Norway,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,Netherlands,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,Christoph Zimmermann,Germany,DF,Norwich City,28,1993,3,2,157,1.7,...,0.00,0.1,0.1,0.0,0.1,0.04,0.00,0.04,0.04,0.04
543,Oleksandr Zinchenko,UKR,DF,Manchester City,24,1996,15,10,1047,11.6,...,0.34,0.4,0.4,2.0,2.5,0.04,0.18,0.21,0.04,0.21
544,Hakim Ziyech,MAR,FW/MF,Chelsea,28,1993,23,14,1319,14.7,...,0.48,3.4,3.4,3.5,6.9,0.23,0.24,0.47,0.23,0.47
545,Kurt Zouma,France,DF,West Ham,26,1994,24,24,2078,23.1,...,0.04,0.9,0.9,0.0,0.9,0.04,0.00,0.04,0.04,0.04
546,Martin Ødegaard,Norway,MF,Arsenal,22,1998,36,32,2785,30.9,...,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [34]:
players.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR',
       'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xA',
       'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'],
      dtype='object')

In [35]:
players = players.rename({"Squad":"Club",
                         "MP":"Matches played",
                         "Min":"Minutes played",
                         "90s":"Matches completed",
                         "Gls":"Goals",
                         "Ast":"Assists",
                         "CrdY":"Yellow cards",
                         "CrdR":"Red cards"},axis=1)

In [36]:
players.head()

,Player,Nation,Pos,Club,Age,Born,Matches played,Starts,Minutes played,Matches completed,...,G+A-PK,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,Scotland,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,France,DF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,Norway,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,Netherlands,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [37]:
players = players.drop(['G-PK', 'PK', 'PKatt'],axis=1)

In [38]:
players.columns

Index(['Player', 'Nation', 'Pos', 'Club', 'Age', 'Born', 'Matches played',
       'Starts', 'Minutes played', 'Matches completed', 'Goals', 'Assists',
       'Yellow cards', 'Red cards', 'Goals', 'Assists', 'G+A', 'G+A-PK', 'xG',
       'npxG', 'xA', 'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'],
      dtype='object')

In [39]:
players = players.drop(['G+A-PK', 'G+A'],axis=1)

In [40]:
players.columns

Index(['Player', 'Nation', 'Pos', 'Club', 'Age', 'Born', 'Matches played',
       'Starts', 'Minutes played', 'Matches completed', 'Goals', 'Assists',
       'Yellow cards', 'Red cards', 'Goals', 'Assists', 'xG', 'npxG', 'xA',
       'npxG+xA', 'xG', 'xA', 'xG+xA', 'npxG', 'npxG+xA'],
      dtype='object')

In [41]:
players.head()

,Player,Nation,Pos,Club,Age,Born,Matches played,Starts,Minutes played,Matches completed,...,Assists,xG,npxG,xA,npxG+xA,xG,xA,xG+xA,npxG,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.7,0.7,1.4,2.1,0.02,0.04,0.07,0.02,0.07
2,Che Adams,Scotland,FW,Southampton,25,1996,30,23,2039,22.7,...,0.13,7.1,7.1,2.6,9.7,0.31,0.12,0.43,0.31,0.43
3,Rayan Aït Nouri,France,DF,Wolves,20,2001,23,20,1828,20.3,...,0.10,0.7,0.7,1.3,2.1,0.04,0.07,0.10,0.04,0.10
4,Kristoffer Ajer,Norway,DF,Brentford,23,1998,24,23,1995,22.2,...,0.14,0.8,0.8,1.4,2.2,0.04,0.06,0.10,0.04,0.10
5,Nathan Aké,Netherlands,DF,Manchester City,26,1995,14,10,923,10.3,...,0.00,1.1,1.1,0.5,1.6,0.11,0.05,0.16,0.11,0.16

In [42]:
players = players.iloc[:, :-5]

In [43]:
players.shape

(546, 20)

In [44]:
players.columns

Index(['Player', 'Nation', 'Pos', 'Club', 'Age', 'Born', 'Matches played',
       'Starts', 'Minutes played', 'Matches completed', 'Goals', 'Assists',
       'Yellow cards', 'Red cards', 'Goals', 'Assists', 'xG', 'npxG', 'xA',
       'npxG+xA'],
      dtype='object')

In [45]:
players.columns = ['Player', 'Nation', 'Pos', 'Club', 'Age', 'Born', 'Matches played',
       'Starts', 'Minutes played', 'Matches completed', 'Goals', 'Assists',
       'Yellow cards', 'Red cards', 'Goals/90', 'Assists/90', 'xG', 'npxG', 'xA',
       'npxG+xA']

In [46]:
players.shape

(546, 20)

In [47]:
players.columns

Index(['Player', 'Nation', 'Pos', 'Club', 'Age', 'Born', 'Matches played',
       'Starts', 'Minutes played', 'Matches completed', 'Goals', 'Assists',
       'Yellow cards', 'Red cards', 'Goals/90', 'Assists/90', 'xG', 'npxG',
       'xA', 'npxG+xA'],
      dtype='object')

In [48]:
players.tail()

,Player,Nation,Pos,Club,Age,Born,Matches played,Starts,Minutes played,Matches completed,Goals,Assists,Yellow cards,Red cards,Goals/90,Assists/90,xG,npxG,xA,npxG+xA
Rk,,,,,,,,,,,,,,,,,,,,
542,Christoph Zimmermann,Germany,DF,Norwich City,28,1993,3,2,157,1.7,0,0,0,0,0.00,0.00,0.1,0.1,0.0,0.1
543,Oleksandr Zinchenko,UKR,DF,Manchester City,24,1996,15,10,1047,11.6,0,4,0,0,0.00,0.34,0.4,0.4,2.0,2.5
544,Hakim Ziyech,MAR,FW/MF,Chelsea,28,1993,23,14,1319,14.7,4,3,3,0,0.27,0.20,3.4,3.4,3.5,6.9
545,Kurt Zouma,France,DF,West Ham,26,1994,24,24,2078,23.1,1,0,1,0,0.04,0.00,0.9,0.9,0.0,0.9
546,Martin Ødegaard,Norway,MF,Arsenal,22,1998,36,32,2785,30.9,7,4,4,0,0.23,0.13,4.8,4.8,6.8,11.6

In [49]:
players.dtypes

Player               object
Nation               object
Pos                  object
Club                 object
Age                  object
Born                 object
Matches played       object
Starts               object
Minutes played       object
Matches completed    object
Goals                object
Assists              object
Yellow cards         object
Red cards            object
Goals/90             object
Assists/90           object
xG                   object
npxG                 object
xA                   object
npxG+xA              object
dtype: object

In [50]:
players.Goals = players.Goals.astype(int)
players.Assists = players.Assists.astype(int)
players.xG = players.xG.astype(float)
players.xA = players.xA.astype(float)
players.npxG = players.npxG.astype(float)
players['Goals/90'] = players['Goals/90'].astype(float)
players['Assists/90'] = players['Assists/90'].astype(float)
players.Age = players.Age.astype(int)

In [51]:
players.dtypes

Player                object
Nation                object
Pos                   object
Club                  object
Age                    int32
Born                  object
Matches played        object
Starts                object
Minutes played        object
Matches completed     object
Goals                  int32
Assists                int32
Yellow cards          object
Red cards             object
Goals/90             float64
Assists/90           float64
xG                   float64
npxG                 float64
xA                   float64
npxG+xA               object
dtype: object

In [52]:
players.groupby('Player').Goals.sum().sort_values(ascending=False)

Player
Mohamed Salah         23
Son Heung-min         23
Cristiano Ronaldo     18
Harry Kane            17
Sadio Mané            16
                      ..
Japhet Tanganga        0
Jannik Vestergaard     0
Jamie Shackleton       0
James Milner           0
Łukasz Fabiański       0
Name: Goals, Length: 537, dtype: int32

In [53]:
players.groupby('Player').xG.sum().sort_values(ascending=False)

Player
Mohamed Salah          21.8
Harry Kane             20.1
Sadio Mané             16.7
Cristiano Ronaldo      16.5
Son Heung-min          16.4
                       ...
Fraser Forster          0.0
Francisco Sierralta     0.0
Phil Jones              0.0
Finley Stevens          0.0
Łukasz Fabiański        0.0
Name: xG, Length: 537, dtype: float64

In [54]:
players.groupby('Player').Assists.sum().sort_values(ascending=False)

Player
Mohamed Salah             13
Trent Alexander-Arnold    12
Andrew Robertson          10
Jarrod Bowen              10
Harvey Barnes             10
                          ..
James Justin               0
Jamal Lewis                0
Jamaal Lascelles           0
Jakob Sørensen             0
Łukasz Fabiański           0
Name: Assists, Length: 537, dtype: int32

In [55]:
players.groupby('Club').Age.agg('mean').sort_values()

Club
Leeds United       23.310345
Norwich City       23.964286
Brentford          24.206897
Tottenham          24.480000
Arsenal            24.518519
Brighton           24.730769
Aston Villa        24.967742
Manchester City    25.038462
Wolves             25.038462
Everton            25.151515
Liverpool          25.333333
Leicester City     25.428571
Manchester Utd     25.620690
Southampton        25.880000
Chelsea            26.000000
Crystal Palace     26.208333
West Ham           26.400000
Watford            27.233333
Newcastle Utd      27.310345
Burnley            28.956522
Name: Age, dtype: float64

In [56]:
players.groupby('Club').Goals.agg(sum).sort_values(ascending=False)

Club
Manchester City    96
Liverpool          94
Chelsea            75
Tottenham          63
Leicester City     62
Arsenal            60
West Ham           58
Manchester Utd     56
Crystal Palace     50
Aston Villa        50
Brentford          46
Everton            42
Leeds United       42
Newcastle Utd      41
Southampton        41
Brighton           40
Wolves             35
Watford            33
Burnley            32
Norwich City       21
Name: Goals, dtype: int32

In [57]:
players.groupby('Club').xG.agg(sum).sort_values(ascending=False)

Club
Liverpool          91.1
Manchester City    90.9
Chelsea            69.0
Tottenham          66.0
Arsenal            61.4
Manchester Utd     55.1
Leicester City     51.7
West Ham           51.0
Brentford          48.3
Leeds United       48.1
Southampton        47.6
Crystal Palace     46.9
Brighton           46.7
Aston Villa        44.7
Everton            43.4
Newcastle Utd      41.3
Burnley            39.8
Watford            39.2
Wolves             36.7
Norwich City       34.2
Name: xG, dtype: float64

In [58]:
players.groupby('Club').npxG.agg(sum).sort_values(ascending=False)

Club
Liverpool          84.8
Manchester City    84.0
Tottenham          62.2
Chelsea            62.2
Arsenal            55.2
Manchester Utd     51.3
Leicester City     50.2
West Ham           46.5
Southampton        44.5
Leeds United       44.3
Brentford          43.8
Aston Villa        42.4
Brighton           41.4
Crystal Palace     40.7
Newcastle Utd      39.0
Burnley            38.2
Everton            38.1
Watford            37.7
Wolves             36.2
Norwich City       31.9
Name: npxG, dtype: float64

In [59]:
players.groupby(['Club', 'Player'],as_index=False)['Goals'].agg(max).sort_values(by='Goals',ascending=False)[:21]

                Club             Player  Goals
293        Liverpool      Mohamed Salah     23
462        Tottenham      Son Heung-min     23
335   Manchester Utd  Cristiano Ronaldo     18
450        Tottenham         Harry Kane     17
297        Liverpool         Sadio Mané     16
281        Liverpool         Diogo Jota     15
257   Leicester City        Jamie Vardy     15
317  Manchester City    Kevin De Bruyne     15
184   Crystal Palace      Wilfried Zaha     14
323  Manchester City    Raheem Sterling     13
507         West Ham       Jarrod Bowen     12
256   Leicester City     James Maddison     12
67         Brentford         Ivan Toney     12
411     Norwich City        Teemu Pukki     11
151          Chelsea        Mason Mount     11
324  Manchester City       Riyad Mahrez     11
51       Aston Villa      Ollie Watkins     11
241     Leeds United           Raphinha     11
6            Arsenal        Bukayo Saka     11
10           Arsenal   Emile Smith Rowe     10
511         West Ham    Michail Antonio     10