In [23]:
import pandas as pd

In [28]:
Reg = pd.read_excel('../Datasets/WP_Demographics/Regional.xlsx')

In [29]:
Reg.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Migration,Unnamed: 64
0,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,1589,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,676.242,632.628,308.007,323.552,292.231,448.248,474.317,422.043,-28.286,-0.124
2,1590,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,673.073,628.834,306.531,322.275,290.545,446.659,473.07,420.096,-56.348,-0.242
3,1591,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,667.352,622.25,303.924,319.994,287.6,443.249,470.024,416.295,-100.834,-0.424
4,1592,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,661.642,615.678,300.284,316.494,283.818,438.779,466.084,411.267,-210.067,-0.865

In [30]:
cols = Reg.iloc[0].values

In [31]:
cols[2]

'Region, subregion, country or area *'

In [32]:
Reg.columns = cols

In [33]:
Reg.head()

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,Male Mortality before Age 60 (deaths under age...,Female Mortality before Age 60 (deaths under a...,"Mortality between Age 15 and 50, both sexes (d...",Male Mortality between Age 15 and 50 (deaths u...,Female Mortality between Age 15 and 50 (deaths...,"Mortality between Age 15 and 60, both sexes (d...",Male Mortality between Age 15 and 60 (deaths u...,Female Mortality between Age 15 and 60 (deaths...,Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,1589,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,676.242,632.628,308.007,323.552,292.231,448.248,474.317,422.043,-28.286,-0.124
2,1590,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,673.073,628.834,306.531,322.275,290.545,446.659,473.07,420.096,-56.348,-0.242
3,1591,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,667.352,622.25,303.924,319.994,287.6,443.249,470.024,416.295,-100.834,-0.424
4,1592,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,661.642,615.678,300.284,316.494,283.818,438.779,466.084,411.267,-210.067,-0.865

In [34]:
Reg = Reg[1:]

In [35]:
Reg.head()

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,1589,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,676.242,632.628,308.007,323.552,292.231,448.248,474.317,422.043,-28.286,-0.124
2,1590,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,673.073,628.834,306.531,322.275,290.545,446.659,473.07,420.096,-56.348,-0.242
3,1591,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,667.352,622.25,303.924,319.994,287.6,443.249,470.024,416.295,-100.834,-0.424
4,1592,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,661.642,615.678,300.284,316.494,283.818,438.779,466.084,411.267,-210.067,-0.865
5,1593,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,660.735,609.224,301.377,321.408,280.89,439.324,470.422,407.626,-203.348,-0.819

In [36]:
Reg = Reg.rename(columns={"Region, subregion, country or area *":"Region"})

In [37]:
Reg.head()

,Index,Variant,Region,Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
1,1589,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,676.242,632.628,308.007,323.552,292.231,448.248,474.317,422.043,-28.286,-0.124
2,1590,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,673.073,628.834,306.531,322.275,290.545,446.659,473.07,420.096,-56.348,-0.242
3,1591,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,667.352,622.25,303.924,319.994,287.6,443.249,470.024,416.295,-100.834,-0.424
4,1592,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,661.642,615.678,300.284,316.494,283.818,438.779,466.084,411.267,-210.067,-0.865
5,1593,Estimates,AFRICA,NaN,903,NaN,NaN,2,Region,1840,...,660.735,609.224,301.377,321.408,280.89,439.324,470.422,407.626,-203.348,-0.819

In [38]:
Reg.Region.unique()

array(['AFRICA', 'ASIA', 'EUROPE', 'LATIN AMERICA AND THE CARIBBEAN',
       'NORTHERN AMERICA', 'OCEANIA'], dtype=object)